.term-featured-image-wrap {
    overflow: hidden;
}
.term-featured-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    transition: all .5s;
}
.all-products-section-wrapper {
    padding-bottom: 30px;
    padding-top: 72px;
}
.all-products-section {
    .term-name {
        padding-top: 10px;
        transition: all .5s;
        > span {
            background-color: $tertiary-color;
            clear: both;
            color: $white;
            float: left;
            font-size: $font-size-small;
            letter-spacing: -0.2px;
            margin: 10px 0 0;
            padding: 5px 11px;
        }
    }
}
.product-cards-wrapper {
    color: $primary-color;
    a {
        color: $primary-color;
        &:hover {
            .term-featured-image {
                transform: scale(1.05);
            }
            .term-name {
                transform: scale(0.95);
            }
        }
    }
    .product-card-item {
        padding-bottom: 42px;
        padding-top: 3px;
    }
    .product-card-title {
        font-size: $font-size-large;
        margin-bottom: 0.2em;
        margin-top: 0.6em;
    }
    .link {
        display: block;
        padding-top: 15px;
    }
}
.main-title-section-heading {
    .title-label {
        color: $tertiary-color;
    }
}


.archive-product-cards-wrapper {
    padding-bottom: 70px;
    padding-top: 70px;
    .product-card-item {
        margin-bottom: 25px;
        margin-top: 25px;
        &.product-category-style {
            // padding-left: 0;
            // padding-right: 0;
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 0;
            margin-top: 0;
            flex: 0 0 55%;
            max-width: 55%;
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(14),
            &:nth-child(15),
            &:nth-child(18),
            &:nth-child(19) {
                flex: 0 0 45%;
                max-width: 45%; 
            }
            .category-card-link {
                position: relative;
                display: block;
                @extend %after-bg;
                &:after {
                    background-color: $secondary-color;
                    opacity: 0.25;
                }
            }
            .category-title-excerpt-button-wrapper {
                position: absolute;
                bottom: 0;
                padding: 20px;
                color: $white;
                z-index: 2;
                .product-card-title {
                    color: $white;
                    font-size: $font-size-h2;
                }
            }
        }
    }
}