.product-description-section-wrapper {
    padding: 130px 0 163px;
    background-repeat: no-repeat;
    background-size: cover;
    .product-description-section-content-inner {
        background-color: $white;
        padding: 43px 49px;
        max-width: 100%;
        width: 100%;
        @include min-mq ($ls) {
            max-width: 83%;
        }
        h1, h2, h3, h4, h5, h6 {
            letter-spacing: -1.3px;
            &:first-of-type {
                margin: 0.15em 0 0.4em 0;
            }
        }
        p {
            margin-bottom: 1.5em;
            letter-spacing: -0.5px;
            &:last-child {
                margin-bottom: 1.1em;
            }
        }
    }
    .title-label {
        color: $tertiary-color;
    }
}
.product-description-section-content {
    padding-top: 32px;
}

.product-description-repeater-section {
    .product-number-description-repeater-item {
        display: flex;
        margin-bottom: 52px;
        &:nth-child(2) {
            margin-left: 70px;
            @include min-mq ($ls) {
                margin-left: 160px;
            }
        }
    }
    .increase-number {
        align-items: center;
        background-color: rgba($color: $white, $alpha: 0.5);
        border-radius: 50%;
        color: $secondary-color;
        display: flex;
        font-size: $font-size-large;
        height: 60px;
        justify-content: center;
        margin-right: 20px;
        width: 60px;
    }
    .product-description {
        background-color: $white;
        max-width: 450px;
        padding: 18px 19px;
        width: 100%;
        h5 {
            margin: 0;
        }
        p {
            margin: 0;
        }
        > div {
            padding-top: 8px;
        }
    }
}