.products-featured-img-wrap {
    height: 833px;
    background-repeat: no-repeat;
    background-size: cover;
    @include min-mq ($fhd + 20) {
        height: 77vh;
    }
    @include max-mq ($mac_l) {
        height: 700px;
    }
    @include max-mq ($ls) {
        height: 650px;
    }
    @include max-mq ($lg) {
        height: 630px;
    }
    @include max-mq ($md) {
        height: 560px;
    }
    @include max-mq ($sm) {
        height: 480px;
    }
    @include max-mq ($mb + 4) {
        height: 350px;
    }
    @include max-mq ($ip) {
        height: 300px;
    }

    &:after {
        content: '';
        background: $black;
        background: -webkit-linear-gradient(to top, $black 0%, transparent 100%);
        background: -moz-linear-gradient(to top, $black 0%, transparent 100%);
        background: linear-gradient(to top, $black 0%, transparent 100%);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}
.products-slider-item {
    position: relative;
    .slick-slider-dots {
        display: none;
    }
}
.products-heading-excerpt-button-wraper {
    bottom: 0;
    color: $white;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    @include max-mq ($mac + 20) {
        padding-left: 15px;
    }
    @include max-mq ($mb_s) {
        background-color: $tertiary-color;
        position: relative;
        padding-bottom: 10px;
        padding-top: 10px;
        
    }
    .products-title {
        max-width: 40%;
        @include max-mq ($lg) {
            max-width: 55%;
        }
        @include max-mq ($mb + 4) {
            display: none;
        }
    }
    > div {
        position: relative;
        z-index: 1;
    }
    &:after {
        backdrop-filter: blur(10px);
        background-color: rgba($color: $white, $alpha: 0.05);
        bottom: 0;
        content: '';
        height: 375px;
        left: 0;
        min-height: 30vh;
        position: absolute;
        width: 43%;
        z-index: 0;
        @include max-mq ($lg) {
            width: 58%;
        }
        @include max-mq ($md) {
            height: 300px;
        }
        @include max-mq ($sm) {
            height: 280px;
        }
        @include max-mq ($mb + 4) {
            height: 130px;
            min-height: 1px;
            width: 207px;
        }
        @include max-mq ($mb_s) {
            display: none;
            height: 0;
            min-height: 0;
            width: 0;
        }
    }
}
.title-label {
    font-size: $font-size-small;
    text-transform: uppercase;
    font-family: $secondary-font;
}
.product-details-wrap {
    padding-top: 25px;
    padding-bottom: 46px;
    padding-left: 5px;
    @include max-mq ($mb_s) {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 0;
    }
    .products-description {
        padding-bottom: 68px;
        letter-spacing: 1.2px;
        @include max-mq ($md) {
            padding-bottom: 25px;
        }
    }
}
.products-heading-excerpt-wrap {
    a {
        color: $white;
    }
    .title-label {
        display: block;
        letter-spacing: -0.6px;
        padding-bottom: 8px;
    }
    .entry-title {
        color: $white;
        font-size: $font-size-h1-large;
        letter-spacing: -2.2px;
        margin: 0;
        line-height: 1.1;
        @include max-mq($ls) {
            font-size: $font-size-h1-large - 10px;
        }
        @include max-mq($md) {
            font-size: $font-size-h1-large - 15px;
        }
        @include max-mq($sm) {
            font-size: $font-size-h1-large - 20px;
        }
    }
    .entry-content {
        margin-top: 0.7em;
    }
}
.products-slider-wrapper {
    position: relative;
    .slick-dots {
        bottom: 55px;
        list-style: none;
        padding-left: 0;
        position: absolute;
        text-align: right;
        @extend %right-calc;
        @include max-mq($ls) {
            bottom: 40px;
        }
        @include max-mq($mb_s) {
            bottom: 70px;
        }
        > li {
            margin-top: 18px;
            @include max-mq($mb_s) {
                margin-top: 10px;
            }
            &:before {
                display: none;
            }
        }
    }
    .pagination-title {
        color: $primary-color;
        cursor: pointer;
        font-weight: 400;
        margin: 0;
        padding-right: 0;
        position: relative;
        transition: all 0.5s;
        &:hover {
            color: $white;
        }
        &:after {
            content: '';
            height: 1px;
            width: 31px;
            background-color: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
        }
        span {
            @include max-mq ($tab) {
                max-width: 200px;
                display: block;
            }
        }
    }
    .slick-active {
        .pagination-title {
            color: $white;
            padding-right: 42px;
            &:after {
                background-color: $white;
            }
        }
    }
    .slider__counter {
        color: $white;
        font-size: $font-size-h1-large + 10;
        position: absolute;
        @extend %right-calc;
        top: 73px;
        transform: rotate(-90deg);
        @include max-mq ($md) {
            top: 35px;
        }
        @include max-mq ($mb + 4) {
            font-size: $font-size-h1-large + 1;
        }
        span {
            display: inline-block;
            &:first-of-type {
                font-family: $secondary-font;
            }
            &:last-of-type {
                font-size: $font-size-h2;
                vertical-align: top;
            }
        }
    }
}
