.site-header {
    position: relative;
    z-index: 999;
    @include max-mq ($mac) {
        padding-left: 15px;
        padding-right: 15px;
    }
    &:after {
        background-color: $gray-200;
        content: '';
        height: 40px;
        position: absolute;
        right: 0;
        top: 0;
        width: 65%;
        z-index: 0;
        @include max-mq ($lt) {
            width: 70%;
        }
        @include max-mq ($ls) {
            width: 75%;
        }
        @include max-mq ($lg) {
            width: 85%;
        }
        @include max-mq ($tab) {
            width: 100%;
        }
    }
    > div {
        position: relative;
        z-index: 1;
    }
}
.site-branding {
    max-width: 97px;
    padding-bottom: 6px;
    padding-top: 10px;
    width: 100%;
}

.header-contact-info-nav-wrap {
    .header-details-wrapper {
        color: $secondary-color-500;
        display: flex;
        font-size: $font-size-small;
        justify-content: flex-end;
        letter-spacing: -0.5px;
        padding: 10px;
        .header-contact-phone {
            margin-right: 26px;
            @include max-mq ($lg) {
                margin-right: 10px;
            }
            @include max-mq ($ip) {
                margin-right: 0;
            }
            span {
                @include max-mq ($mb - 20) {
                    display: none;
                }
                @include max-mq ($mb_s) {
                    display: inline-block;
                }
            }
        }
        .header-contact-address {
            @include max-mq ($tab + 120) {
                display: none;
            }
        }
        a {
            color: $secondary-color-500;
            &:hover {
                color: $tertiary-color;
            }
        }
        .social-header-wrap {
            margin-top: -5px;
            margin-right: 23px;
            padding-right: 23px;
            display: flex;
            align-items: center;
            position: relative;
            @include max-mq ($lg) {
                margin-right: 13px;
                padding-right: 13px;
            }
            @include max-mq ($mb_s) {
                display: none;
            }
            &:after {
                content: '';
                height: 20px;
                width: 1px;
                background-color: $secondary-color;
                position: absolute;
                right: 0;
                top: 4px;
            }
            span {
                display: inline-block;
                position: relative;
                margin-right: 10px;
                top: -2px;
                @include max-mq ($lg) {
                    display: none;
                }
                @include max-mq ($tab + 120) {
                    display: block;
                }
                @include max-mq ($mb_p) {
                    display: none;
                }
            }
        }
    }
}
.header-search {
    .header-search-position {
        top: -100%;
        transition: all .5s;
        .search-opened & {
            top: 0;
        }
    }
    > i {
        color: $tertiary-color;
        font-size: $font-size-xlarge;
        text-align: center;
        width: 18px;
    }
    > .icon-search-plus {
        display: flex;
        .search-opened & {
            display: none;
        }
    }
    .icon-times {
        font-size: $font-size-xlarge + 5;
        display: none;
        .search-opened & {
            display: flex;
        }
    }
    .toggle-icon {
        position: relative;
        z-index: 999999;
    }
}

#masthead {
    .main-header-nav-search-wrap {
        align-items: center;
        display: flex;
        padding-top: 14px;
        padding-right: 10px;
        @include max-mq($responsive-toggle-breakpoint + 1) {
            float: right;
        }
    }
    .header-search {
        .header-search-position {
            background-color: $white;
            height: 100%;
            left: 0;
            padding-top: 18vh;
            position: fixed;
            right: 0;
            text-align: center;
            z-index: 99;
        }
        i {
            cursor: pointer;
        }
        .search-field {
            border-bottom: 2px solid $tertiary-color;
            border-left: none;
            border-right: none;
            border-top: none;
            font-size: $font-size-large + 50;
            @include max-mq ($tab + 60) {
                width: 70%;
            }
            @include max-mq ($mb_p) {
                font-size: $font-size-large + 20;
            }
        }
        .submit-button-search {
            background-color: transparent;
            border: none;
            color: $tertiary-color;
            font-size: $font-size-large + 50;
            transition: color 0.5s;
            @include max-mq ($mb_p) {
                font-size: $font-size-large + 20;
            }
            &:hover {
                color: $primary-color;
            }
        }
    }
}