.breadcrumbs-wrapper {
    padding-top: 15px;
    .single & {
        padding-bottom: 15px;
    }
    .site-content {
        > div {
            .single-proizvod & {
                @include max-mq ($sm) {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
// .breadcrumbs {

//   p {
//   }

//   a {
//     &:hover {
//     }
//   }

//   .breadcrumb_last {
//   }
// }

// .woocommerce .woocommerce-breadcrumb {

//   p {
//     margin: 0;
//   }

//   a {

//     &:hover {
      
//     }
//   }

//   span {
//   }
// }
