.button {
	border: 1px solid;
	color: $white;
	cursor: pointer;
	display: inline-block;
	padding: 10px 28px;
	transition: all 0.5s;
	vertical-align: middle;
	
	&.button-primary {
		background-color: $primary-color;
		border-color: $primary-color;
		&:hover {
			background-color: $white;
			color: $primary-color;
		}
	}
	&.button-secondary {
		background-color: $secondary-color;
		border-color: $secondary-color;
		color: $white;
		&:hover {
			background-color: $white;
			color: $secondary-color;
		}
	}
	&.button-secondary-outline {
		border-color: $secondary-color;
		background-color: $white;
		color: $secondary-color;
		&:hover {
			background-color: $secondary-color;
			color: $white;
		}
	}
	&.button-tertiary {
		background-color: $tertiary-color;
		border-color: $tertiary-color;
		&:hover {
			background-color: $white;
			color: $tertiary-color;
		}
	}
	&.button-transparent {
		background-color: transparent;
		border-color: $white;
		color: $white;
		&:hover {
			background-color: $white;
			color: $secondary-color;
		}
	}
	&.button-white {
		background-color: $white;
		border-color: $white;
		color: $secondary-color;
		&:hover {
			background-color: $secondary-color;
			color: $white;
		}
	}
	&.button-arrow {
		i {
			display: inline-block;
			font-size: $font-size-xsmall - 1;
			margin-left: 12px;
			position: relative;
			top: -1px;
			vertical-align: middle;
		}
	}
	&.dd_frm_button_submit {
		padding: 13px 70px;
		margin-top: 10px;
	}
}