.post-navigation {
  padding: 28px 0 72px;
  @include max-mq ($mb) { 
    padding: 10px 0 55px;
  }
  > div {
    @include max-mq ($sm) {
        padding-left: 0;
        padding-right: 0;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    a {
      &:hover {
        .icon-left {
          left: -7px;
        }
        .icon-right {
          left: 7px;
        }
      }
    }
    span,
    i {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    span {
      font-size: $font-size-xlarge;
      @include max-mq ($mb) {
        font-size: $font-size-xlarge - 3;
      }
      @include max-mq ($xs + 20) {
        font-size: $font-size-xlarge - 4;
      }
    }
    .icon-left {
      margin-right: 15px;
      @include max-mq ($xs + 20) {
        margin-right: 7px;
      }
    }
    .icon-right {
      margin-left: 15px;
      @include max-mq ($xs + 20) {
        margin-left: 7px;
      }
    }
    i {
      left: 0;
      right: 0;
      top: 2px;
      transition: all .5s;
    }
  }
}
.nav-links {
  padding-bottom: 45px;
  text-align: center;
  width: 100%;
  .page-numbers {
    align-items: center;
    background-color: $gray-200;
    border-radius: 50%;
    border: 1px solid $tertiary-color;
    bottom: 0;
    color: $tertiary-color;
    display: inline-block;
    height: 40px;
    justify-content: center;
    margin: 0 7px;
    padding: 7px;
    transition: all .5s;
    width: 40px;

    &:hover,
    &.current {
      background-color: $tertiary-color;
      color: #fff;
    }

    &.prev,
    &.next {
      background-color: transparent;
      border: none;
      color: $secondary-color;
      height: auto;
      width: auto;
      position: relative;
      top: 7px;
      font-size: $font-size-xlarge + 5;
      &:hover {
        color: $tertiary-color;
      }
    }
  }
}