.nav-links {
  padding-bottom: 45px;
  text-align: center;
  width: 100%;

  .page-numbers {
    align-items: center;
    background-color: $gray-200;
    border-radius: 50%;
    border: 1px solid $tertiary-color;
    bottom: 0;
    color: $tertiary-color;
    display: inline-block;
    height: 40px;
    justify-content: center;
    margin: 0 7px;
    padding: 7px;
    transition: all .5s;
    width: 40px;

    &:hover,
    &.current {
      background-color: $tertiary-color;
      color: #fff;
    }

    &.prev,
    &.next {
      background-color: transparent;
      border: none;
      color: $secondary-color;
      height: auto;
      width: auto;
      position: relative;
      top: 7px;
      font-size: $font-size-xlarge + 5;
      &:hover {
        color: $tertiary-color;
      }
    }
  }
}