.single-page-img,
.single-page-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.single-page-main-slider-wrapper,
.single-page-main-content {
    padding-bottom: 60px;
}
.single-page-img {
    height: 500px;
}
#order-form {
    display: none;
}

.single-page-thumbnail {
    border: 1px solid $white;
    height: 150px;
    width: 150px;
    // width: 100%;
    
    transition: all 0.5s;
    .slick-current & {
        border-color: $tertiary-color;
    }
}

.single-page-thumbnail-slider {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 15px;
    .single-page-thumbnail-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .slick-arrow {
        bottom: -45px;
    }
}

.half-section-slider-item {
    text-align: center;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.half-section-slider {
    .slick-arrow {
        bottom: -45px;
    }
}

.single-page-button-wrap {
    padding-top: 25px;
    .button {
        margin-right: 10px;
        margin-bottom: 10px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    &.order-product-button {
        padding-top: 15px;
    }
}

.single-page-order-form-inner {
    padding: 12px 0 65px;
    margin: 10px 0;
    border-bottom: 1px solid $secondary-color;
    border-top: 1px solid $secondary-color;
}

.order-product-close {
    text-align: right;
    padding-bottom: 65px;
    padding-top: 0;
    i {
        font-size: $font-size-xlarge + 8;
        color: $secondary-color-500;
        cursor: pointer;
        transition: color .5s;
        &:hover {
            color: $tertiary-color;
        }

    }
}

.instructions-section {
    display: flex;
    .instruction-slider-image {
        background-repeat: no-repeat;
        background-size: cover;
        height: 321px;
        background-position: center;
    }
    
    .instruction-slider-image-wrap {
        &.second-image-here {
            display: flex;
            justify-content: space-between;
            .instruction-slider-image {
                max-width: 48%;
                flex: 0 0 48%
            }
        }
        &.just-one-image {
            .instruction-slider-image {
                width: 100%;
            }
        }
    }
    .instructions-slider-wrapper {
        padding-bottom: 15px;
        align-self: flex-end;
    }
    .instructions-slider {
        padding-bottom: 45px;
    }
    .instruction-slider-description {
        padding-top: 15px;
        p {
            margin: 0 0 0.5em;
        }
    }
}
.content-area {
    .tab-nav {
        list-style: none;
        padding-left: 0; 
        padding-top: 1px; 
        > li {
            position: relative;
            padding-bottom: 0;
            padding-left: 35px;
            transition: all .5s;
            &:hover {
                h5 {
                    color: $tertiary-color;
                }
                &:before {
                    background-color: $tertiary-color;
                }
                i {
                    left: 4px;
                }
            }
            &.active {
                padding-left: 45px;
                h5 {
                    color: $tertiary-color;
                }
                &:before {
                    background-color: $tertiary-color;
                    width: 30px;
                }
            }
            i {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-left: 8px;
                top: -1px;
                left: 0;
                transition: left .5s;
            }
            h5 {
                margin-bottom: 0.6em;
                margin-top: 0.6em;
                transition: color 0.5s;
            }
            &:before {
                background-color: $secondary-color;
                bottom: 0;
                content: '';
                height: 1px;
                left: 0;
                margin: auto;
                position: absolute;
                top: 0;
                transition: all .5s;
                width: 20px;
            }
        }   
    }
}
.single-half-section-wrapper {
    padding-bottom: 35px;
    padding-top: 35px;
}
.single-half-section-inner {
    padding: 65px 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.single-half-item {
    > h1, h2, h3, h4, h5 {
        &:first-child {
            margin-top: 0;
        }
    }
}
.row-half-sectction {
    align-items: center;
}

.single-bg-img-section-wrapper {
    margin-left: -15px;
    margin-right: -15px;
    .single-bg-img-section-inner {
        padding: 70px 0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .single-bg-img-item-inner {
        background-color: $white;
        padding: 30px 45px 40px;
        h1, h2, h3, h4, h5, h6 {
            &:first-of-type {
                margin-bottom: 0.5em;
                margin-top: 0.2em;
            }
        }
        // p {
        //     &:first-of-type {
        //         margin-bottom: 1.5em;
        //     }
        // }
        p {
            margin-top: 0;
            margin-bottom: 0.5em;
        }
    }
}

.single-full-width-section-inner {
    padding-bottom: 70px;
    padding-top: 70px;
}