.single-page-img,
.single-page-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.single-page-main-slider-wrapper,
.single-page-main-content {
    padding-bottom: 50px;
}
.single-page-img {
    height: 500px;
}
#order-form {
    display: none;
}

.single-page-thumbnail {
    border: 1px solid $white;
    height: 100px;
    width: 100px;
    transition: all 0.5s;
    .slick-current & {
        border-color: $tertiary-color;
    }
}

.single-page-button-wrap {
    padding-top: 25px;
}

.single-page-order-form-inner {
    padding: 12px 0 65px;
    margin: 10px 0;
    border-bottom: 1px solid $secondary-color;
    border-top: 1px solid $secondary-color;
}

.order-product-close {
    text-align: right;
    padding-bottom: 65px;
    padding-top: 0;
    i {
        font-size: $font-size-xlarge + 8;
        color: $secondary-color-500;
        cursor: pointer;
        transition: color .5s;
        &:hover {
            color: $tertiary-color;
        }

    }
}

.instructions-section {
    display: flex;

    


    .instruction-slider-image {
        background-repeat: no-repeat;
        background-size: cover;
        height: 321px;
        background-position: center;
    }
    
    .instruction-slider-image-wrap {
        &.second-image-here {
            display: flex;
            .instruction-slider-image {
                max-width: 50%;
                flex: 0 0 50%
            }
        }
        &.just-one-image {
            .instruction-slider-image {
                width: 100%;
            }
        }
    }
    .instructions-slider {
        padding-bottom: 25px;
    }
}

.tab-nav {
    list-style: none;
    padding-left: 0;       
}



